.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
 .idea
 .iws
 .iml
 .ipr
 target
 .DS_STORE /src/main/resources/log
/src/main/java/org/example/
/sql/find_longest_project.sql
/sql/find_max_projects_client.sql
/sql/find_max_salary_worker.sql
/sql/find_youngest_eldest_workers.sql
/sql/print_project_prices.sql
/sql/populate_db.sql
